<head>
    <style> body {
        margin: 0;
    } </style>

    <script src="//cdn.jsdelivr.net/npm/force-graph"></script>
    <!--<script src="../../dist/force-graph.js"></script>-->
</head>
<body>
<div id="graph"></div>

<script>
    fetch('/bidders').then(res => res.json()).then(data => {
        const imgs = {};
        data.nodes.map(node => {
            if (node.group === "bus") {
                const img = new Image();
                const busDetails = data.details[node.id]
                img.src = `https://webassets.lqdt1.com/assets/photos/${busDetails.accountId}/${busDetails.photo}`
                imgs[node.id] = img
            }
        })


        const Graph = new ForceGraph(document.getElementById('graph'))
            .nodeCanvasObject(({id, group, color, x, y}, ctx) => {
                if (group === "bus") {
                    const size = 20;
                    const img = imgs[id]
                    ctx.drawImage(img, x - size / 2, y - size / 2, size, size);

                } else {
                    const size = 4;
                    ctx.fontSize = 4;
                    const labelWidth = ctx.measureText(id).width;
                    ctx.beginPath();
                    ctx.arc(x, y, size, 0, 2 * Math.PI);
                    ctx.fillStyle = color;
                    ctx.fill();
                    ctx.fillStyle = '#111';
                    ctx.fillText(id, x - (labelWidth / 2.0), y);
                }
            })
            .onNodeClick((node) => {
                console.log(node);
                if (node.group === "bus") {
                    const busDetails = data.details[node.id]
                    const url = `https://www.govdeals.com/en/asset/${busDetails.assetId}/${busDetails.accountId}`
                    window.open(url, '_blank');
                }
            })
            .graphData(data)
            .nodeId('id')
            .nodeVal('val')
            .nodeLabel('id')
            .nodeAutoColorBy('group')
            .linkSource('source')
            .linkTarget('target')
    });
</script>
</body>