<head>
    <style> body {
        margin: 0;
    } </style>

    <script src="//cdn.jsdelivr.net/npm/force-graph"></script>
    <!--<script src="../../dist/force-graph.js"></script>-->
</head>
<body>
{% include 'header.html' %}

<div id="graph"></div>

<script>
    fetch('/bidders').then(res => res.json()).then(data => {
        const imgs = {};
        data.nodes.map(node => {
            if (node.group === "bus") {
                const img = new Image();
                const busDetails = data.details[node.id]
                img.src = `https://webassets.lqdt1.com/assets/photos/${busDetails.accountId}/${busDetails.photo}`
                imgs[node.id] = img
            }
        })

        const Graph = new ForceGraph(document.getElementById('graph'))
            .nodeCanvasObject(({id, group, price, color, x, y}, ctx) => {
                if (group === "bus") {
                    const size = 20;
                    const img = imgs[id]
                    ctx.drawImage(img, x - size / 2, y - size / 2, size, size);
                    if (!data.details[id].isSoldAuction) {
                        ctx.beginPath();
                        ctx.strokeStyle = "#FF000077";
                        ctx.lineWidth = 5;
                        ctx.arc(x, y, size, 0, 2 * Math.PI);
                        ctx.stroke();
                    }
                    if (data.details[id].tags[0] === "DT466e") {
                        ctx.beginPath();
                        ctx.strokeStyle = "rgba(0,90,191,0.47)";
                        ctx.lineWidth = 5;
                        ctx.arc(x, y, size * 1.3, 0, 2 * Math.PI);
                        ctx.stroke();
                    }
                    if (data.details[id].tags[0] === "CAT 3126") {
                        ctx.beginPath();
                        ctx.strokeStyle = "rgba(243,172,0,0.66)";
                        ctx.lineWidth = 5;
                        ctx.arc(x, y, size * 1.3, 0, 2 * Math.PI);
                        ctx.stroke();
                    }
                    if (data.details[id].tags[0] === "Cummins") {
                        ctx.beginPath();
                        ctx.strokeStyle = "rgba(219,0,243,0.66)";
                        ctx.lineWidth = 5;
                        ctx.arc(x, y, size * 1.3, 0, 2 * Math.PI);
                        ctx.stroke();
                    }
                    if (data.details[id].tags[0] === "V8") {
                        ctx.beginPath();
                        ctx.strokeStyle = "rgba(81,243,0,0.66)";
                        ctx.lineWidth = 5;
                        ctx.arc(x, y, size * 1.3, 0, 2 * Math.PI);
                        ctx.stroke();
                    }
                } else {
                    const size = Math.sqrt(price) / 10.0;
                    ctx.fontSize = 4;
                    const labelWidth = ctx.measureText(id).width;
                    ctx.beginPath();
                    ctx.arc(x, y, size, 0, 2 * Math.PI);
                    ctx.fillStyle = color;
                    ctx.fill();
                    ctx.fillStyle = '#111';
                    ctx.fillText(id, x - (labelWidth / 2.0), y);
                }
            })
            .onNodeClick((node) => {
                console.log(node);
                if (node.group === "bus") {
                    const busDetails = data.details[node.id]
                    const url = `https://www.govdeals.com/en/asset/${busDetails.assetId}/${busDetails.accountId}`
                    window.open(url, '_blank');
                }
            })
            .graphData(data)
            .nodeId('id')
            .nodeVal('val')
            .nodeLabel(({id, price}) => `${id} ($${price})`)
            .nodeAutoColorBy('group')
            .linkSource('source')
            .linkTarget('target')
    });
</script>
</body>