<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
</head>
<body>
<div>
    <canvas id="busPrice"></canvas>
    <canvas id="Histogram"></canvas>
    <canvas id="enginePie"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script>
    const priceCtx = document.getElementById('busPrice');
    const histCtx = document.getElementById('Histogram').getContext('2d');
    const pieCtx = document.getElementById('enginePie').getContext('2d');

    const pieData = {
        labels: [],
        datasets: [{
            data: [],
            label: 'Engine Distribution'
        }]
    }

    const priceChartConfig = {
        type: 'bubble',
        data: {
            datasets: []
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'School Bus Pricing'
                }
            },
            scales: {
                x: {
                    type: 'time', // Set axis type to time
                    time: {
                        unit: 'day', // Display ticks by day, week, month, etc.
                        tooltipFormat: 'MMM dd, yyyy', // Format for tooltips
                        displayFormats: { // Customize tick labels
                            day: 'MMM d',
                            month: 'MMM yyyy'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                }
            },  // end scales
        },
    };
    fetch("/busses.json")
        .then(res => res.json())
        .then(busData => {
            const priceDatamap = {}
            const priceDatasets = []
            const prices = []
            const engines = {}


            for (const busId in busData) {
                if (busData[busId].hidden) continue
                const endDate = new Date(busData[busId].assetAuctionEndDateUtc)
                const engine = busData[busId].tags[0]
                const currentBid = busData[busId].currentBid
                if (!(engine in priceDatamap)) {
                    priceDatamap[engine] = {
                        label: engine,
                        data: [],
                    }
                }

                priceDatamap[engine].data.push({x: endDate, y: currentBid, r: 6})
                prices.push([currentBid, engine, busData[busId].assetAuctionEndDateUtc])

                if (engine in engines) {
                    engines[engine] += 1
                } else {
                    engines[engine] = 1
                }
            }
            for (const engine in priceDatamap) {
                priceDatasets.push(priceDatamap[engine])
            }

            for (const engine in engines) {
                pieData.datasets[0].data.push(engines[engine])
                pieData.labels.push(engine)
            }

            priceChartConfig.data.datasets = priceDatasets;
            console.log(prices);
            new Chart(priceCtx, priceChartConfig); // Price Bubble

            // const histChart = new Chart(histCtx, {
            //     type: 'bar',
            //     data: {
            //         labels: dataLabels,
            //         datasets: [{
            //             label: 'Group A',
            //             data: dataValues,
            //             backgroundColor: 'rgba(255, 99, 132, 1)',
            //         }]
            //     },
            //     options: {
            //         scales: {
            //             x: [{
            //                 display: false,
            //                 barPercentage: 1.3,
            //                 ticks: {
            //                     max: 3,
            //                 }
            //             }, {
            //                 display: true,
            //                 ticks: {
            //                     autoSkip: false,
            //                     max: 4,
            //                 }
            //             }],
            //             y: [{
            //                 ticks: {
            //                     beginAtZero: true
            //                 }
            //             }]
            //         }
            //     }
            // });
            console.log(pieData);
            new Chart(pieCtx, { // Engine Pie chart
                type: 'pie',
                data: pieData,
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Engines Breakdown'
                        }
                    }
                },
            });
        })


</script>
</body>
</html>