<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charts</title>
</head>
<body>
<div>
    <canvas id="busPrice"></canvas>
    <canvas id="Histogram"></canvas>
    <div style="height:300px">
        <canvas id="enginePie"></canvas>
    </div>
    <h2>Bids By Area</h2>
    <canvas id="geoChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://unpkg.com/chartjs-chart-geo@4"></script>
<script src="https://unpkg.com/chartjs-plugin-datalabels"></script>

<script>
    const priceCtx = document.getElementById('busPrice');
    const histCtx = document.getElementById('Histogram').getContext('2d');
    const pieCtx = document.getElementById('enginePie').getContext('2d');
    const geoCtx = document.getElementById('geoChart').getContext('2d');

    const pieData = {
        labels: [],
        datasets: [{
            data: [],
            label: 'Engine Distribution'
        }]
    }

    const priceChartConfig = {
        type: 'bubble',
        data: {
            datasets: []
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'School Bus Pricing'
                }
            },
            scales: {
                x: {
                    type: 'time', // Set axis type to time
                    time: {
                        unit: 'day', // Display ticks by day, week, month, etc.
                        tooltipFormat: 'MMM dd, yyyy', // Format for tooltips
                        displayFormats: { // Customize tick labels
                            day: 'MMM d',
                            month: 'MMM yyyy'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Date'
                    }
                }
            },  // end scales
        },
    };
    fetch("/busses.json")
        .then(res => res.json())
        .then(busData => {
            const priceDatamap = {}
            const priceDatasets = []
            const prices = []
            const engines = {}
            const histogramMap = {}
            const histogram = []
            const histBinLabels = [...Array(16).keys().map((id) => {
                return "" + (id * 500);
            })]
            const engineTotals = {}
            const engineCounts = {}
            const engineAverages = {}


            for (const busId in busData) {
                if (busData[busId].hidden) continue
                const endDate = new Date(busData[busId].assetAuctionEndDateUtc)
                const engine = busData[busId].tags[0]
                const currentBid = busData[busId].currentBid
                if (!engine || !currentBid) continue
                if (!(engine in priceDatamap)) {
                    priceDatamap[engine] = {
                        label: engine,
                        data: [],
                    }
                }
                if (!(engine in histogramMap)) {
                    histogramMap[engine] = {
                        label: engine,
                        data: [...Array(16).fill(4)],
                    }
                }
                if (!(engine in engineTotals)) {
                    engineTotals[engine] = 0
                }
                if (!(engine in engineCounts)) {
                    engineCounts[engine] = 0
                }
                engineTotals[engine] += currentBid
                engineCounts[engine] += 1

                const histBin = Math.min(Math.floor(currentBid / 500), 15)
                histogramMap[engine].data[histBin] += 1


                priceDatamap[engine].data.push({x: endDate, y: currentBid, r: 6})
                prices.push([currentBid, engine, busData[busId].assetAuctionEndDateUtc])


                if (engine in engines) {
                    engines[engine] += 1
                } else {
                    engines[engine] = 1
                }
            }


            for (const engine in engines) {
                engineAverages[engine] = engineTotals[engine] / engineCounts[engine]

                priceDatasets.push(priceDatamap[engine])

                histogram.push(histogramMap[engine])

                pieData.datasets[0].data.push(engines[engine])
                pieData.labels.push(engine)

            }

            priceChartConfig.data.datasets = priceDatasets;
            console.log(prices);
            console.log(histogram);
            console.log(engineAverages);
            new Chart(priceCtx, priceChartConfig); // Price Bubble

            new Chart(histCtx, {
                type: 'line',
                data: {
                    labels: histBinLabels,
                    datasets: [histogramMap["CAT 3126"], histogramMap["Cummins"], histogramMap["V8"], histogramMap["DT466e"], histogramMap["5.9 Cummins"], histogramMap["C10"], histogramMap["AT545"], histogramMap["T444e"],]
                },
            });
            new Chart(pieCtx, { // Engine Pie chart
                type: 'pie',
                data: pieData,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Engines Breakdown'
                        }
                    }
                },
            });

            fetch('https://unpkg.com/us-atlas/states-10m.json')
                .then((r) => r.json()).then(us => {

                const states = ChartGeo.topojson.feature(us, us.objects.states).features;

                const geoData = []
                const geoEngineSeries = {}


                for (const busId in busData) {
                    if (busData[busId].hidden) continue
                    const engine = busData[busId].tags[0]
                    const currentBid = busData[busId].currentBid
                    const lat = busData[busId].latitude
                    const lng = busData[busId].longitude
                    if (!lat || !lng || !currentBid || !busData[busId].assetShortDesc || !engine) continue
                    if (!(engine in geoEngineSeries)) {
                        geoEngineSeries[engine] = {
                            outline: states,
                            label: engine,
                            showOutline: true,
                            data: [],
                        }
                    }
                    geoEngineSeries[engine].data.push({
                        latitude: lat,
                        longitude: lng,
                        value: currentBid / 1000.0,
                        description: busData[busId].assetShortDesc,
                    })
                }
                for (const engine in geoEngineSeries) {
                    if (!engine || !geoEngineSeries[engine].label) continue
                    geoData.push(geoEngineSeries[engine])
                }
                console.log(geoData);

                new Chart(geoCtx, {
                    type: 'bubbleMap',
                    data: {
                        labels: [engines],
                        datasets: [geoEngineSeries["CAT 3126"], geoEngineSeries["Cummins"], geoEngineSeries["V8"], geoEngineSeries["DT466e"], geoEngineSeries["5.9 Cummins"], geoEngineSeries["C10"], geoEngineSeries["AT545"], geoEngineSeries["T444e"],],
                    },
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            },
                        },
                        backgroundColor: (data) => {
                            const engine = data.dataset.label
                            const average = engineAverages[engine]
                            const colors = []
                            for (const d in data.dataset.data) {
                                colors.push(data.dataset.data[d].value * 1000.0 > average ? 'rgba(255, 99, 132, 0.2)' : 'rgba(75,192,94,0.2)')
                            }
                            return colors
                        },
                        scales: {
                            projection: {
                                axis: 'x',
                                projection: 'albersUsa',
                            },
                            size: {
                                axis: 'x',
                                size: [1, 20],
                            },
                        }
                    }
                });
            });
        })


</script>
</body>
</html>