<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mainpage.css') }}">
</head>
<body>
<script src="{{ url_for('static',filename='mainpage.js') }}"></script>
<title>Busses</title>
<h1>Busses</h1>
<div class="buttons">
    <button type="submit" onclick="reload()">Reload</button>
    <button type="submit" onclick="scrape_new()">Scrape New</button>
    <button type="submit" onclick="update_bids()">Update Bids</button>
    <label for="new_lot">New Lot</label><input type="text" name="new lot" id="new_lot"
                                               placeholder="New Lot ID To Watch">
    <button type="button" onclick="new_lot()">Add Lot</button>
</div>
{{show_hidden}}
<div id="busses">
    {% for bus_id in busses %}
    {% if not busses[bus_id].get("hidden",False) == True or show_hidden == True %}
    {% include 'bus.html' %}
    {% endif %}
    {% endfor %}
</div>
</body>